@model MyBlog.Domain.Entities.Post.Post
@using MyBlog.Application.Tools
@{
    ViewData["Title"] = "پست";
}

<section class="inner-page blog-inner-page" id="blog-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>@Model.PostTitle</h1>
                            <p>@Model.PostSmalDescription</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="/Blog">بلاگ آموزشی</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-container">
                                        <div class="row pt-2 px-3" id="post-title">
                                            <div class="col-12 col-md-8">
                                                <h1>@Model.PostTitle</h1>
                                            </div>
                                            <div class="col-12 col-md-4 text-start text-md-end"><span class="date">ارسال شده در @Model.CreateDate.ConvertToShamsi()  </span></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12 pt-2 text-justify" id="post-html">
                                                <div class="text-center pt-2 pb-3"><img src="/images/PostImage/image/@Model.PostImageName" alt="@Model.PostTitle"></div>
                                                <p> @Html.Raw(Model.PostDescription)</p>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                                <div id="keywords">
                                                    <span>برچسب ها:</span>
                                                    @if (Model.Tags != null)
                                                    {
                                                        <div class="tags-layer">
                                                            @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                                                            {
                                                                <a href="#"><span class="keyword">@tag</span></a>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-3 pb-4 pb-lg-0">
                                            <div class="col-12" id="share-links">
                                                <span>به اشتراک بگذارید در:</span><br class="d-md-none">
                                                <a href="#" target="_blank"><span class="share-link"><img src="/images/social/twitter.png" alt="توئیتر" height="25px"> توئیتر</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="/images/social/facebook.png" alt="فیس بوک" height="25px"> فیس بوک</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="/images/social/linkedin.png" alt="لینکدین" height="25px"> لینکدین</span></a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

